﻿<html ng-app="angularTodo">
<head>
    <title>AngularTodo</title>

    <link rel="stylesheet" href="~/Content/Css/Site.css"/>
    <link rel="stylesheet" href="~/Content/Css/font-awesome.css"/>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>

    <script src="~/Content/app/app.module.js"></script>

    <script src="~/Content/app/checklists/checklists.module.js"></script>
    <script src="~/Content/app/checklists/checklists.controller.js"></script>
    <script src="~/Content/app/checklists/checklists.dataservice.js"></script>
    <script src="~/Content/app/checklists/atd-color-picker.directive.js"></script>

    <script src="~/Content/app/common/common.module.js"></script>
    <script src="~/Content/app/common/atd-focus-on.directive.js"></script>

    <script src="~/Content/app/common/angular-base64-upload.directive.js"></script>
</head>
<body>
<div ng-controller="CheckListsController as clVm">
    <div ng-include="'/Content/app/checklists/views/checklists.layout.html'"></div>
</div>
</body>
</html>