﻿<div class="card card-default color{{checkList.color}}" ng-repeat="checkList in clVm.checkLists" ng-click="clVm.startStoredCheckListEdition(checkList);">

    <div>
        <input ng-model="checkList.title" ng-keyup="clVm.updateCheckList(checkList);" ng-hide="checkList.mode == 'display' && checkList.title == ''" type="text" class="card-title card-input card-input-fullwidth" placeholder="Введите заголовок" value="Режим редактирования"/>

        <div class="upload-file-container" ng-show="checkList.mode == 'edit' && checkList.image == null">
            <input type="file" base-sixty-four-input parser="clVm.attachImage" ng-model="clVm.uploadingImage"/>
        </div>
        <div class="card-images-container" ng-show="checkList.image != null">
            <div class="delete-image" ng-click="clVm.detachImage(checkList)" ng-show="checkList.mode == 'edit'">
                <i class="fa fa-remove"></i>
            </div>
            <div class="card-image">
                <img ng-src="{{ checkList.image.url }}"/>
            </div>
        </div>

        <div class="card-clitems-container">

            <div class="cl-item" ng-repeat="item in checkList.items">
                <input ng-model="item.isChecked" ng-click="clVm.updateListItem(item);" type="checkbox"/>
                <input ng-model="item.text" ng-keyup="clVm.updateListItem(item);" type="text" class="card-input card-input-clitem-text" placeholder="Введите текст"/>
                <button ng-click="clVm.removeListItem(checkList, item);" ng-show="checkList.mode == 'edit'" type="button" class="card-input btn-clitem-remove"><i class="fa fa-remove"></i></button>
            </div>

            <div class="cl-item" ng-show="checkList.mode == 'edit'">
                <span ng-click="clVm.addListItem(checkList);" class="cl-add-new"><i class="fa fa-plus-square-o"></i> Добавить пункт</span>
            </div>

        </div>

        <!-- Buttons -->
        <div class="card-buttons" ng-show="checkList.mode == 'edit'">
            <div class="card-buttons-left">
                <button ng-click="clVm.deleteCheckList(checkList);" class="card-btn" type="button"><i class="fa fa-trash-o"></i></button>
                <button atd-color-picker class="card-btn" type="button"><i class="fa fa-paint-brush"></i></button>
            </div>
            <div class="card-buttons-right">
                <button ng-click="clVm.finishStoredCheckListEdition(checkList); $event.stopPropagation()" class="card-btn" type="button">Готово</button>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>

</div>
</div>