﻿<!-- Display -->
<div ng-show="clVm.newCheckList.mode == 'display'" ng-click="clVm.startNewCheckListEdition();">
    <div class="card card-default">
        <div class="card-new-text" atd-focus-on-show>
            <i class="fa fa-plus-square-o"></i> Введите текст
        </div>
    </div>
</div>

<!-- Edit -->
<div ng-show="clVm.newCheckList.mode == 'edit'">
    <div class="card card-default color{{clVm.newCheckList.color}}">
        <input ng-model="clVm.newCheckList.title" ng-keyup="clVm.updateCheckList(clVm.newCheckList);" type="text" class="card-title card-input card-input-fullwidth" placeholder="Введите заголовок" />

        <div class="upload-file-container" ng-show="clVm.newCheckList.mode == 'edit' && clVm.newCheckList.image == null">
            <input type="file" base-sixty-four-input parser="clVm.attachImage" ng-model="clVm.uploadingImage" />
        </div>
        <div class="card-images-container" ng-show="clVm.newCheckList.image != null">
            <div class="delete-image" ng-click="clVm.detachImage(clVm.newCheckList)" ng-show="clVm.newCheckList.mode == 'edit'">
                <i class="fa fa-remove"></i>
            </div>
            <div class="card-image">
                <img ng-src="{{ clVm.newCheckList.image.url }}" />
            </div>
        </div>

        <div>
            <!-- Stored items -->
            <div class="card-clitems-container">

                <div class="cl-item" ng-repeat="item in clVm.newCheckList.items">
                    <input ng-model="item.isChecked" ng-click="clVm.updateListItem(item);" type="checkbox"/>
                    <input ng-model="item.text" ng-keyup="clVm.updateListItem(item);" atd-focus-on="clCreationStarted" type="text" class="card-input card-input-clitem-text"/>
                    <button ng-click="clVm.removeListItem(clVm.newCheckList, item);" type="button" class="card-input btn-clitem-remove"><i class="fa fa-remove"></i></button>
                </div>

            </div>

            <!-- Add item -->
            <div class="cl-item-container">
                <div class="cl-item">
                    <span ng-click="clVm.addListItem(clVm.newCheckList)" class="cl-add-new"><i class="fa fa-plus-square-o"></i> Добавить пункт</span>
                </div>
            </div>
        </div>

        <div class="card-buttons">
            <div class="card-buttons-left">
                <button atd-color-picker class="card-btn" type="button"><i class="fa fa-paint-brush"></i></button>
            </div>
            <div class="card-buttons-right">
                <button class="card-btn" type="button" ng-click="clVm.submitNewCheckListCreation();">Сохранить</button>
                <button class="card-btn card-btn-secondary" type="button" ng-click="clVm.cancelNewCheckListEdition();">Отмена</button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>