﻿<div class="card-container new-container">
    <div ng-include="'/Content/app/checklists/views/checklists.new.html'"></div>
</div>

<div class="card-container stored-container">
    <div ng-include="'/Content/app/checklists/views/checklists.stored.html'"></div>
</div>

<div>
    <div ng-include="'/Content/app/checklists/views/checklists.colorpicker.html'"></div>
</div>