﻿/* General */

body {
    background-color: #EDEDED;
    font-family: "Slab Serif", Arial;
}

.card-container {
    width: 600px;
    margin:0 auto;
}

.stored-container {
    margin-top: 60px;
}


.card {
    margin-top: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 20px;
    padding-bottom: 15px;
}

.card:hover {
    box-shadow: 0 0 10px rgb(200, 200, 200);
}

.card-default {
    background-color: white;
}

.card-new-text {
    color: gray;
}

.card-title {
    font-size: 24px;
    font-weight: 600;
}

.card-images-container {
    margin-top: 10px
}

.card-buttons-right {
    float: right;
}

.card-buttons-left {
    float: left;
}

.clearfix {
    clear: both;
}

.note-text {
    font-size: 16px;   
}

.card-clitems-container {
    margin-top: 20px;
}

.cl-item {
    margin: 10px 0px;
}

.cl-add-new {
    color: rgb(188, 188, 188);
}

.cl-add-new:hover {
    cursor: pointer;
}

.cl-item-checked input {
    text-decoration: line-through;
}

.card-image img {
    margin-bottom: 10px;
    width: 100%;
}

.delete-image {
    position: relative;
    float: right;
    top: 10px;
    right: 10px;
    padding: 10px;
    margin-bottom: -50px;
    border-radius: 30px;
    opacity: 0.1;
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 15px;
    background-color: white;
    cursor: pointer;
}

.delete-image:hover {
    opacity: 0.6;
}

/* /General */

/* Inputs */

.card-input {
    background: none;
    font-family: "Slab Serif", Arial;
    border: none;
    resize: none;
    outline: none;
}

.card-input-fullwidth {
    width: 560px;
}

.card-input-clitem-text {
    width: 500px;
    font-size: 16px;
}

.card-input:active {
    border: none;
    outline: none;
}

.card-input:focus {
    outline: none;
}

.card-btn {
    padding: 5px 10px;
    font-size: 14px;
    color: rgb(108, 108, 108);
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 5px;
    background: none;
    outline: none;  
}

.card-btn-secondary {
    font-weight: 500;
}

.card-btn:active {
    outline: none;
    color: rgb(171, 171, 171);
}

.card-btn:focus {
    outline: none;
}

.card-btn:hover {

    border: 1px solid lightgray;
}

.btn-clitem-remove {
    background: none;
}

.btn-clitem-remove:hover {
    color: gray;
}

.btn-clitem-remove:active {
    color: rgb(92, 92, 92);
}

/* /Inputs */

/* color picker */

.color-picker {
    position: absolute;
    display: none;
    background-color: white;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(200, 200, 200);
}

.color-picker:hover {
    box-shadow: 0 0 10px rgb(158, 158, 158);
}

.color-picker .color {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid lightgray;
    cursor: pointer;
    float: left;
    margin-left: 5px;
}

.color-picker .color_default {
    background-color: white;
}

.color1 {
    background-color: rgb(252, 241, 221); /* yellow */
}

.color1 .cl-add-new{
    color: rgb(108, 108, 108);
}

.color1 .card-btn:hover {
    border: 1px solid lightgray;
}

.color2 {
    background-color: rgb(255, 171, 171); /* red */
}

.color2 input::-webkit-input-placeholder{ color: rgb(126, 126, 126); }
.color2 input:-moz-placeholder{ color: rgb(126, 126, 126); }

.color2 .cl-add-new{
    color: rgb(108, 108, 108);
}

.color2 .card-btn:hover {
    border: 1px solid darkgray;
}

.color3 {
    background-color: rgb(174, 206, 255) /* blue */
}

.color3 input::-webkit-input-placeholder{ color: rgb(126, 126, 126); }
.color3 input:-moz-placeholder{ color: rgb(126, 126, 126); }

.color3 .cl-add-new{
    color: rgb(108, 108, 108);
}

.color3 .card-btn:hover {
    border: 1px solid darkgray;
}

/* /color picker */